<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>ex-5</title>
    
</head>
<body>
    <h1>programa que converte horas em minutos e minutos em segundos</h1>

    <div id="app1">
        <h2>Introduce las horas</h2>
        <input type="number" v-model="hr" @input="convertMin">
        <p>{{hr}} horas são {{min}} minutos</p>
    </div>

    <div id="app2">
        <h2>Introduce los minutos</h2>
        <input type="number" v-model="min2" @input="convertSeg">
        <p>{{min2}} minutos são {{seg}} segundos</p> 
    </div>

    <script>
        Vue.createApp({
            data(){
                return{
                    hr : '',
                    min : '',
                    min2 : '',
                    seg : '',
                }
            },
            methods:{
                convertMin(){
                    this.min = this.hr * 60
                },
                convertSeg(){
                    this.seg = this.min2 * 60
                }
            } 
        }).mount('#app1');

        Vue.createApp({
            data(){
                return{
                    hr : '',
                    min : '',
                    min2 : '',
                    seg : '',
                }
            },
            methods:{
                convertMin(){
                    this.min = this.hr * 60
                },
                convertSeg(){
                    this.seg = this.min2 * 60
                }
            } 
        }).mount('#app2');
    </script>
</body>
</html>
